header {
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 0.8rem;
    padding: 0.8rem;
    border-bottom: 1px solid rgb(136, 136, 136);
}

.search-setting {
    display: flex;
    align-items: center;
    justify-content: end;
}

#search {
    width: 50%;
}

header input {
    border: 1px solid red;
    width: 100%;
}

header .logo-nav {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
}

header img {
    height: 70px;
}

nav div {
    color: black;
}

ul a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(213, 213, 213);
}

ul a:hover {
    transition: all ease-in-out 0.2s;
    text-decoration: none;
    color: rgb(172, 172, 172);
}

.nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 1rem;
}

nav li {
    margin-right: 1rem;
}

.active-link {
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 20rem;
}

.active-link:hover {
    color: white;
}
