* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
  /* zoom: 80%; */
}

#form {
  margin: 1rem auto;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  width: 65rem;
  padding: 20px;
  background-color: white;
}

.qrcode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prepare {
  /**/
  float: right;
  padding: 0.3rem;
}

.dashboard a {
  text-decoration: none;
  color: black;
}

.remove-order {
  display: flex;
  justify-content: end;
  margin-top: -40px;
  height: 10px;
}

.remove-order i {
  cursor: pointer;
  color: red;
}

#table th {
  text-align: center;
}

#todays-date {
  cursor: pointer;
}

.dark-mode-btn {
  font-size: 2rem;
  cursor: pointer;
}

.loader img {
  height: 50px;
}

.loader {
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

#bill {
  background-color: white;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  margin: auto;
  width: 50rem;
}

.order-detail {
  display: flex;
  justify-content: center;

}

.bill-index {
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 1rem;
  background: white;
  border-radius: 5px;
  min-height: 65rem;
}

.customer-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test3{
  display:  flex;
  align-items: center;;
  justify-content: center;
}

.amounts {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  width: 1000px;
}

.modal-dialog {
  max-width: 1000px;
  margin: 2rem auto;
}

.room-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 5px #b4b4b4;
  width: 100%;
}
.room-table thead {
  background-color: #3569c7;
  color: white;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
}

.room-table td,
th {
  /* border: 1px solid green; */
  border-bottom: 1px solid grey;
  padding: 10px;
  align-items: center;
}
/* .room-table td {
  background-color: #f4f4f4;
} */

.room-table thead {
  border-radius: 5px 5px 0 0;
}

.room-table tbody tr:last-of-type {
  border-bottom: 2px solid #3569c7;
}

.test1{
  
  width: 15rem;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.room-table button {
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.room-table button:hover {
  transform: scale(1.04);
}

.view {
  background-color: green;
}

.delete {
  background-color: red;
}
.edit {
  background-color: #0e5dae;
}

.success-alert {
  margin-top: 10px;
  width: 100%;
  height: 3rem;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.actions {
  display: flex;
}

.actions button {
  margin-right: 0.1rem;
}

.table-center td {
  text-align: center;
}

.table-center td a {
  color: blue;
  font-weight: bolder;
}

.transaction-expense {
  background-color: red;
}
