*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form .table {
<<<<<<< HEAD

=======
>>>>>>> 056d438f8dd74b2d5f5eec06b60f96ecd6fba377
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: 0 0 20px -10px black; /**use inset for inner shadow*/
    /* width: 50rem; */
    padding: 20px;
    background-color: white  ;
    display: flex;
    justify-content: center;
}



.qrcode{
  display: flex;
    justify-content: space-around;
}
#bill-container{

    border: 1px solid grey;
    margin: 1rem auto;
    width: 40rem;
}
.prepare{
    /*border: 1px solid red;*/
    float: right;
    padding: .3rem;
}

.dashboard a{
    text-decoration: none;
    color: black;
}

.dynamic-input{
/* border: 1px solid red; */

 } 



