*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body{
    background-color: 151515;
} */


.form {
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: 0 0 20px -10px black; 
    width: 65rem;
    padding: 20px;
    background-color: white  ;
    display: flex;
    justify-content: center;
}



.qrcode{
  display: flex;
    justify-content: space-around;
}

.prepare{
    /*border: 1px solid red;*/
    float: right;
    padding: .3rem;
}

.dashboard a{
    text-decoration: none;
    color: black;
}

.remove-order{

    display: flex;
    justify-content:end;
    margin-top: -40px;
    height: 10px;
}

.remove-order i{
    cursor: pointer;
    color: red;
}

.fullScreen{
    font-size: 2rem;
    cursor: pointer;
}

th,td{
    text-align: center;
}

#todays-date{
    cursor: pointer;
}

.table-bills td{
  width: 50rem;
}



.dark-mode-btn{
    font-size: 2rem;
    cursor: pointer;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    /* border: 1px solid red; */
}





