* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: white;
  margin: 5px;
}

header img {
  height: 56px;
  cursor: pointer;
}

.nav__links a {
  text-decoration: none;
  color: #909090;
  font-weight: bold;
  margin: 10px;
}
.nav__links li {
  display: inline-block;
}

.caraousel img {
  width: 100%; /* or any custom size */
  object-fit: cover;
  height: 500px;
}

.photo-collection__title {
  text-align: center;
}

.photo-collection__title span {
  font-family: Inter;
  font-size: 44px;
  font-weight: 300;
  line-height: 53px;
  letter-spacing: 0em;
}

/* Main */
.photo-collection__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.photo-collection__images img {
  object-fit: cover;
  object-position: center;
  width: 340px;
  height: 340px;
  cursor: pointer;
}

footer div {
  background-color: black;
  height: 10rem;
}

@media (max-width: 1600px) {
  .caraousel img {
    width: 100%; /* or any custom size */
    object-fit: cover;
    height: 664px;
  }

  .main-container {
    /* border: 1px solid red; */
    width: 80%;
    margin: 1rem auto;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .caraousel img {
    width: 100%; /* or any custom size */
    object-fit: cover;
    height: 495px;
  }

  .main-container {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
}
